# Switch Caps and Escape

/usr/bin/setxkbmap -option caps:swapescape

# Switch left alt and cmd
# I need this to be only for apple devices...
/usr/bin/setxkbmap -option altwin:swap_alt_win

# Key Repeat Rate

# xset r rate 280 40 # Defaults
xset r rate 300 50
# Key Repeat Rate

# xset r rate 280 40 # Defaults
xset r rate 300 50

# Set desktop background with feh

feh --bg-fill Pictures/wallpapers/mist_forrest.jpg

# DWM Statusbar with xorg-xsetroot

while true; do

	# Build the status bar
	status_bar=""
	status_bar+=" $USER"
	status_bar+=" $(cat /sys/class/power_supply/BAT0/capacity)%"
	status_bar+=" $( date +"%A %d/%m/%Y %R" )"

	# Set the status bar
	xsetroot -name "$status_bar"
	sleep 1m

done &

exec dwm
